.mobile-number{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color:#fff;
    padding:60px 10px;
    
}
.number-section{
    background-color:rgb(153, 145, 145);
border-radius: 10px;
}
.ambulance-img img{
    height:300px;
    width:400px;
}