.Service-heading{
    color:rgb(41, 28, 235);
     text-transform: uppercase;
}
.services{
    color:rgb(41, 28, 235);
    text-transform: uppercase;

}
.underline{
    width: 200px;
    margin-left:450px;
}